* {
  font-family: 'Amatic sc';
}

body {
  text-align: center;
}

h1 {
  text-decoration: underline double;
}

#restart {
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 0px lightGrey;
}

#restart:active {
  box-shadow: none;
  transform: translate(0px, 2px);
}

#restart:focus {
  outline: none;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  bottom: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
  font-size: 30px;
  visibility: hidden;
  background: radial-gradient(circle at 100px 100px, hotPink, #fff);
}

.two {
  left: 130px;
  background: radial-gradient(circle at 100px 100px, deepskyblue, #fff);
}

.three {
  left: 250px;
  background: radial-gradient(circle at 100px 100px, #fef74a, #fff);
}

.four {
  right: 5px;
  background: radial-gradient(circle at 100px 100px, orange, #fff);
}

.five {
  right: 130px;
  background: radial-gradient(circle at 100px 100px, chartreuse, #fff);
}

.six{
  right: 250px;
  background: radial-gradient(circle at 100px 100px, darkOrchid, #fff);
}

@keyframes riseUp {
  100% { transform: translateY(-600px)}
}
